@import 'https://fonts.googleapis.com/css?family=Raleway';

body
{
    background-color:#ebebec;
    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);
    margin: 0px;
    font:14px/1.2 Raleway;
    color: rgba(189,189,189,.8);
}

.nav_bar_container
{
  font-family: Raleway;
  margin: 0 auto;
  padding: 1em;
  text-align: right;
  padding-right: 3em;
  letter-spacing: .7px;
}

.nav_bar_container a
{
  color: #FFF;
  text-decoration: none;
  font: 12px Raleway;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 4%;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.same_line_nav .alignLeft,.same_line_nav .alignRight{
  display: inline-block;
}

.alignLeft a{
  letter-spacing: 1.5px;
  font: 12px Raleway;
  text-align: left;
  width: 12%;
}

.alignRight{
  text-align: right;
  width: 88%;
}

.navbar_color
{
  background: #303030;
}

.borderXwidth .animateMe:before, .borderXwidth .animateMe:after
{
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}

.borderXwidth .animateMe:before
{
  left: 0px;
  top: 0px;
}

.borderXwidth .animateMe:after
{
  right: 0px;
  bottom: 0px;
}

.borderXwidth .animateMe:hover:before, .borderXwidth .animateMe:hover:after
{
  opacity: 1;
  width: 100%;
}

.material-icons {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown {
  margin-right: 4%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgba(5,6,7,0.7);
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(6,6,7,0.33);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  text-align: left;
}

.dropdown-content a:hover {background-color: #334342}

.dropdown:hover .dropdown-content {
  display: block;
}


#manform{
    width:80%;
    margin: 0 auto;
    font:14px/1.2 Raleway;
    background-color:#373a3d;
    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
    border-radius:11px;
    margin:100px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.left{
    vertical-align: middle;
    float: left;
    width: 50%;
}

.right{
    vertical-align: middle;
    float: right;
    width: 50%;    
}

.manform_heading2{
    margin-top: 7%;
}


.manform_input{
    outline: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #2E3134;
    color: rgba(189,189,189,.8);
    letter-spacing: 1px;
    margin: 8px;
}

.manform_table{
    display: block;
    outline: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: none;
    color: rgba(189,189,189,.7);
    letter-spacing: 1px;
    margin: 8px;
}

.manform_table_th{
    background-color: #2E3134;
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    color: rgba(189,189,189,.7);
    letter-spacing: 2px;
    text-align: left;
}

.manform_table_td{
    padding-left: 10px;
    justify-content: left;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    color: rgba(189,189,189,.7);
    letter-spacing: .5px;
}

.manform_table_input{
    font:13px Raleway;
    width: 90%;
    padding-left: 5px;
    height: 30px;
    background-color: #939393;
    color: #2E3134;
    font-weight: bold;
    outline: 0;
    border: none;
    letter-spacing: .5px;
    border-radius: 5px;
}


.manform_table{
    /*border: 1px solid;*/
    width:90%;
    padding: 10px;
}

th{
     /*border: .1px dotted;*/
    width:25%;
}

td{
     /*border: .1px dotted;*/
    width:25%;
}

.left label, .right label, .left input, .right input{
    display: inline-block;
}

.same_line{
    clear: left;
    /*clear: right;*/
}

.same_line div{
    display:inline-block;
}

.manform_heading1{
    margin: 7%;
    margin-bottom:-30px; 
    text-align: center;
    color:#373a3d;
}

.manform_button{
    margin: -20px -50px; 
    position:relative;
    margin-top: 1%; 
    left:50%;
    height: 50px;
    width: 110px;
    background: #348AA7;
    margin-right:40%;
    border: none;
    outline: none;
    color: white;
    font-weight: 200px;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: 0 5px 0px darken(#348AA7,0%);
    border-bottom: 2px solid darken(#348AA7,3%);
    margin-bottom: 3%;
    font:20px Raleway;
    &:hover{
        background: darken(#348AA7,100%);
        box-shadow: 0 4px 1px darken(#348AA7,100%);
        border-bottom: 2px solid darken(#348AA7,100%);
        transition: all 0.1s ease-in;
    }

    &:active{
        transform:translateY(4px);
        border-bottom-width: 2px;
    }
}