@import 'https://fonts.googleapis.com/css?family=Raleway';

body
{
    background-color:#ebebec;
    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);
    margin: 0px;
    font:14px/1.2 Raleway;
    color: rgba(189,189,189,.8);
}

.nav_bar_container
{
  font-family: Raleway;
  margin: 0 auto;
  padding: 1em;
  text-align: right;
  padding-right: 3em;
}

.nav_bar_container a
{
    color: #FFF;
    text-decoration: none;
    font: 12px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navbar_color
{
    background: #303030;
}

.borderXwidth .animateMe:before, .borderXwidth .animateMe:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.borderXwidth .animateMe:before
{
    left: 0px;
    top: 0px;
}

.borderXwidth .animateMe:after
{
    right: 0px;
    bottom: 0px;
}

.borderXwidth .animateMe:hover:before, .borderXwidth .animateMe:hover:after
{
    opacity: 1;
    width: 100%;
}

.material-icons {
    vertical-align: middle;
    font-size: 20px;
}

#carousel_announcements img{
    width: 100%;
    height: 550px;
    max-height: 500px;
}


.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgba(5,6,7,0.13);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(6,6,7,0.33);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #334342}

.dropdown:hover .dropdown-content {
    display: block;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

.upload_heading{
    margin-bottom:-30px; 
    text-align: center;
    color:#373a3d;
}

.upload_label{
    display: block;
    outline: 0;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 25%;
    /* background-color: rgba(31, 248, 255, 0.59); */
    color: rgba(189,189,189,.7);
    letter-spacing: 1px;
}

.same_line input, .same_line label{
    display:inline-block;
}

.upload_input{
    outline: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    /* background-color: rgba(31, 248, 255, 0.59); */
    background-color: #2E3134;
    color: rgba(189,189,189,.8);
    width:60%;
    letter-spacing: 1px;
    margin: 7px;
}

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font:14px/1.2 Raleway;
    background-color:#373a3d;
    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
    height: 550px;
    width:400px;
    padding:30px;
    border-radius:11px;
    margin:100px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    background-color: #2E3134;
    padding: 0px 30px 10px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    text-align: center;
    color:#7f858a;
}


.file-upload{display:block;
    text-align:center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.file-upload .file-select{
    display:block;border: 2px solid #dce4ec;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}
.file-upload .file-select .file-select-button{
    background:#dce4ec;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.file-upload .file-select .file-select-name{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
}
.file-upload .file-select:hover{
    border-color:#34495e;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button{
    background:#34495e;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select{
    border-color:#3fa46a;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select .file-select-button{
    background:#3fa46a;
    color:#FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
.file-upload .file-select input[type=file]{
    z-index:100;
    cursor:pointer;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled{
    opacity:0.65;
}
.file-upload .file-select.file-select-disabled:hover{
    cursor:default;
    display:block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    margin-top:5px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button
{
    background:#dce4ec;
    color:#666666;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
}

.upload_button{
  height: 40px;
  width: 100px;
  background: #348AA7;
  margin-right:40%;
  border: none;
  outline: none;
  color: white;
  font-weight: 200px;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken(#348AA7,0%);
  border-bottom: 2px solid darken(#348AA7,3%);
  &:hover{
    background: darken(#348AA7,100%);
    box-shadow: 0 4px 1px darken(#348AA7,100%);
    border-bottom: 2px solid darken(#348AA7,100%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}