
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/announcement.css">

<div class="nav_bar_container navbar_color borderXwidth">
  <a class="animateMe">Announcement</a>
  <a class="animateMe">Operations</a>
  <a class="animateMe">Exit Portal</a>
  <a><i class="material-icons">notifications</i></a>
  <a><i class="material-icons">library_add</i></a>
  <div class="dropdown"  >
    <a><i class="material-icons">person_outline</i></a>
    <div class="dropdown-content" >
      <a href="#" >My Account</a>
      <a href="#">Sign Out</a>
    </div>
  </div>
</div>


<div id="carousel_announcements">
  <carousel interval="myInterval" class="ui-bootstrap-carousel">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <h4>Slide {{$index+1}}</h4>
      </div>
    </slide>
  </carousel>
</div>

<div id="section05" class="demo">
  <a><span></span>Upcoming Annnouncements</a>
</div>


<div id="GridCtrl">
  <div class="container dynamic-grid">
    <article class="grid-item content-box" ng-repeat="(gridKey, gridItem) in gridItems | filter:filterBySearch">
      <div class="inner">
        <img class="content-box-thumb" src="{{ gridItem.img }}" alt="tech image"  style="height:250px; width:400px;"/>
        <h1 class="content-box-header">
          {{ gridItem.headerText }}
        </h1>
        <p class="content-box-blurb">
          {{ gridItem.blurbText }}
        </p>
      </div>
    </article><!-- /.content-box -->

  </div><!-- /.dynamic-grid -->
</div>