<link rel="stylesheet" href="css/newform.css">
<h1 class="opform_heading1">Employee & Request Details</h1>
<form id="opform" method="post">
	<h2 ng-click="collapsible('employee_collapsible')">Employee Details</h2>
	<div id = "employee_collapsible">
		<div class="same_line">
			<div class="left">
				<i class="material-icons">person</i>
				<input class="opform_input" type="text" placeholder="Employee Name" ng-model="employeeName" required>
			</div>
			<div class="right">
				<i class="material-icons" >people_outline</i>
				<input class="opform_input" type="text" placeholder="Client Name with Project Id" ng-model="clientName" required>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">computer</i>
				<input class="opform_input" type="text" placeholder="Project/Offshore Manager" ng-model="manager" required>
			</div>
			<div class="right">
				<i class="material-icons">arrow_forward</i>
				<input class="opform_input" type="text" placeholder="Port of Entry" ng-model="portofEntry" required>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">attach_money</i>
				<label class="opform_label">Expense borne by client</label>
				<input type="radio" ng-model="clientExpense" ng-value="true" name="expense">Yes
				<input type="radio" ng-model="clientExpense" ng-value="false" name="expense">No
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">perm_identity</i>
				<input class="opform_input" type="text" placeholder="Employee ID" ng-model="employeeId" required>
			</div>
			<div class="right">
				<i class="material-icons">work</i>
				<input class="opform_input" type="text" placeholder="Designation" ng-model="designation" required>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">account_circle</i>
				<input class="opform_input" type="text" placeholder="Legal First Name" ng-model="firstName" required>
			</div>
			<div class="right">
				<i class="material-icons">account_circle</i>
				<input class="opform_input" type="text" placeholder="Legal Middle & Last Name" ng-model="lastName" required>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">phone_iphone</i>
				<input class="opform_input" type="text" placeholder="Primary Phone Number" ng-model="primaryNumber" required>
			</div>
			<div class="right">
				<i class="material-icons">phone_android</i>
				<input class="opform_input" type="text" placeholder="Alternate Phone Number" ng-model="altNumber" required>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">email</i>
				<input class="opform_input" type="email" placeholder="Email" ng-model="email" required>
			</div>
			<div class="right">
				<i class="material-icons">mail_outline</i>
				<input class="opform_input" type="email" placeholder="Alternate Email" ng-model="altEmail" required>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">face</i>
				<label class="opform_label">Gender</label>
				<input type="radio" name="gender" ng-model="gender" ng-value="boy">Boy
				<input type="radio" name="gender" ng-model="gender" ng-value="girl">Girl
			</div>
			<div class="right">
				<i class="material-icons">cake</i>
				<input class="opform_input" type="text" placeholder="Date of Birth" ng-model="DOB" required onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">contact_phone</i>
				<input class="opform_input" type="text" placeholder="Emergency Contact Name" ng-model="emergency" required>
			</div>
			<div class="right">
				<i class="material-icons">group</i>
				<input class="opform_input" type="text" placeholder="Relationship" ng-model="relationship" required>
			</div>
		</div>
		<div class="same_line">
			<div class="left">
				<i class="material-icons">card_membership</i>
				<label class="opform_label">Forex card required?</label>
				<input type="radio" name="forex" ng-model="forexr" ng-value="true">Yes
				<input type="radio" name="forex" ng-model="forex" ng-value="false">No
			</div>
			<div class="right">
				<label class="opform_text">Finance team will provide Forex card with traveller name if this request placed in 10 working days.</label>
			</div>
		</div>
	</div>

	<h2 class="opform_heading2" ng-click="collapsible('flight_collapsible')">Flight Reservation</h2>
	<div id = "flight_collapsible">
		<div class="same_line">
			<div class="left">
				<h3>Departing Flight</h3>
			</div>
			<div class="right">
				<h3>Returning Flight</h3>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">date_range</i>
				<input class="opform_input" type="text" placeholder="Departure Date" ng-model="departureDate" onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
			<div class="right">
				<i class="material-icons">date_range</i>
				<input class="opform_input" type="text" placeholder="Return Date" ng-model="returnDate" onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">access_time</i>
				<input class="opform_input" type="text" placeholder="Departure Time" ng-model="departureTime" onfocus="(this.type='time')" onblur="(this.type='text')">
			</div>
			<div class="right">
				<i class="material-icons">access_time</i>
				<input class="opform_input" type="text" placeholder="Return Time" ng-model="returnTime" onfocus="(this.type='time')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">flight_takeoff</i>
				<input class="opform_input" type="text" placeholder="Depart From (airport code)" ng-model="departing_depart">
			</div>
			<div class="right">
				<i class="material-icons">flight_takeoff</i>
				<input class="opform_input" type="text" placeholder="Depart From (airport code)" ng-model="returning_depart">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">payment</i>
				<label class="opform_label">Non-refundable ticket?</label>
				<input type="radio" name="departing_refund" ng-model="departing_refund" ng-value="true">Yes
				<input type="radio" name="departing_refund" ng-model="departing_refund" ng-value="false">No
			</div>
			<div class="right">
				<i class="material-icons">payment</i>
				<label class="opform_label">Non-refundable ticket?</label>
				<input type="radio" name="returning_refund" ng-model="returning_refund" ng-value="true">Yes
				<input type="radio" name="returning_refund" ng-model="returning_refund" ng-value="false">No
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">local_dining</i>
				<label class="opform_label">Include Food (Domestic)?</label>
				<input type="radio" name="departing_food" ng-model="departing_food" ng-value="true">Yes
				<input type="radio" name="departing_food" ng-model="departing_food" ng-value="false">No
			</div>
			<div class="right">
				<i class="material-icons">local_dining</i>
				<label class="opform_label">Include Food (Domestic)?</label>
				<input type="radio" name="returning_food" ng-model="returning_food" ng-value="true">Yes
				<input type="radio" name="returning_food" ng-model="returning_food" ng-value="false">No
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<label class="opform_text">All international tickets will be booked with Asian Veg Meal allowance.</label>
			</div>
			<div class="right">
				<label class="opform_text">Any special request: Physically challenged support required at the airport.</label>
			</div>
		</div>
	</div>
	<h2 class="opform_heading2" ng-click="collapsible('car_collapsible')">Rental Car Reservation</h2>	
	<div id = "car_collapsible">
		<div class="same_line">
			<div class="left">
				<h3>Car Pickup</h3>
			</div>
			<div class="right">
				<h3>Car Drop Off</h3>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">date_range</i>
				<input class="opform_input" type="text" placeholder="Pickup Date" ng-model="pickupDate" onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
			<div class="right">
				<i class="material-icons">date_range</i>
				<input class="opform_input" type="text" placeholder="Drop off Date" ng-model="dropOffDate" onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">location_on</i>
				<input class="opform_input" type="text" placeholder="Pickup Location" ng-model="pickupLocation">
			</div>
			<div class="right">
				<i class="material-icons">location_on</i>
				<input class="opform_input" type="text" placeholder="Drop off Location" ng-model="dropOffLocation">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">access_time</i>
				<input class="opform_input" type="text" placeholder="Pickup Time" ng-model="pickupTime" onfocus="(this.type='time')" onblur="(this.type='text')">
			</div>
			<div class="right">
				<i class="material-icons">access_time</i>
				<input class="opform_input" type="text" placeholder="Drop off Time" ng-model="dropOffTime" onfocus="(this.type='time')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">comment</i>
				<input class="opform_input" type="text" placeholder="Any Comments" ng-model="pickupComment">
			</div>
			<div class="right">
				<i class="material-icons">comment</i>
				<input class="opform_input" type="text" placeholder="Any Comments" ng-model="dropOffComment">
			</div>
		</div>

	</div>

	<h2 class="opform_heading2" ng-click="collapsible('hotel_collapsible')">Hotel Reservation</h2>
	<div id = "hotel_collapsible">
		<div class="same_line">
			<div class="left">
				<h3>Hotel Information</h3>
			</div>
			<div class="right">
				<h3>Length of Stay</h3>
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">hotel</i>
				<input class="opform_input" type="text" placeholder="Hotel Name" ng-model="hotelName">
			</div>
			<div class="right">
				<i class="material-icons">date_range</i>
				<input class="opform_input" type="text" placeholder="Check in Date" ng-model="checkinDate" onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">home</i>
				<input class="opform_input" type="text" placeholder="Hotel Address" ng-model="hotelAddress">
			</div>
			<div class="right">
				<i class="material-icons">date_range</i>
				<input class="opform_input" type="text" placeholder="Check out Date" ng-model="checkoutDate" onfocus="(this.type='date')" onblur="(this.type='text')">
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">settings_phone</i>
				<input class="opform_input" type="text" placeholder="Hotel Phone" ng-model="hotelPhone">
			</div>
			<div class="right">
				<i class="material-icons">opacity</i>
				<label class="opform_label">Non Smoking Room?</label>
				<input type="radio" name="smoking" ng-model="smoking" ng-value="true">Yes
				<input type="radio" name="smoking" ng-model="smoking" ng-value="false">No
			</div>
		</div>

		<div class="same_line">
			<div class="left">
				<i class="material-icons">print</i>
				<input class="opform_input" type="text" placeholder="Hotel Fax" ng-model="hotelFax">
			</div>
			<div class="right">
				<i class="material-icons">comment</i>
				<input class="opform_input" type="text" placeholder="Any Comments/Requests" ng-model="hotelComment">
			</div>
		</div>
	</div>
	<button class="opform_button" ng-click=submit()>Submit</button>
</form>
